
SAMOS_DMD_dev/Create_DMD_Pattern_dev/ginga_qt_example2.py
SAMOS_DMD_dev/DMD_get_pixel_mapping_GUI_dana/get_flipped_CCD2DMD_wcs.ipynb
SAMOS_DMD_dev/Create_DMD_Pattern_dev/crosshair_example_pyqtgraph.py
SAMOS_DMD_dev/DMD_pixel_mapping_dana/crosshair.png
SAMOS_DMD_dev/DMD_pixel_mapping_dana/crosshair.bmp
SAMOS_CCD_dev/__pycache__/Class_CCD_dev.cpython-39.pyc
SAMOS_CCD_dev/__pycache__/Class_CCD_dev.cpython-39.pyc
SAMOS_CONFIG_dev/__pycache__/CONFIG_GUI.cpython-39.pyc
SAMOS_system_dev/__pycache__/SAMOS_Functions.cpython-39.pyc
SAMOS_system_dev/fits_current_dir_name.txt
SAMOS_CCD_dev/__pycache__/Class_CCD_dev.cpython-39.pyc
SAMOS_CONFIG_dev/__pycache__/CONFIG_GUI.cpython-39.pyc
SAMOS_system_dev/__pycache__/SAMOS_Functions.cpython-39.pyc
SAMOS_CONFIG_dev/__pycache__/CONFIG_GUI.cpython-39.pyc
SAMOS_CONFIG_dev/__pycache__/CONFIG_GUI.cpython-39.pyc
SAMOS_DMD_dev/CONVERT/__pycache__/CONVERT_class.cpython-39.pyc
SAMOS_DMD_dev/Create_DMD_Pattern_dev/__pycache__/setup_slits.cpython-39.pyc
SAMOS_MOTORS_dev/__pycache__/Class_PCM.cpython-39.pyc
SAMOS_DMD_dev/Create_DMD_Pattern_dev/__pycache__/setup_slits.cpython-39.pyc
*.pyc
